.statebox {
    /* height: 100px; */

border: solid 1px darkgrey;
/* 
width: 100px; */
display: inline-block;
}

li {
    list-style-type: none;
}

.state-container {
    border: solid 1px darkgrey;

}